.playground {
  /* gap: 1rem; */
  color: #b5b5b5;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
.html,.css,.preview {
  padding: 0 10px;
  /* border: 2px solid red; */
  text-align: center;
}
.html {
  grid-row: 1/2;
}
.css {
  grid-row: 2/3;
}
.preview {
  grid-column: 2;
  grid-row: 1/3;
}